name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  CARGO_TERM_COLOR: always

permissions:
  contents: read
  id-token: write

jobs:
  ci-pass:
    name: CI is green
    runs-on: ubuntu-latest
    needs:
      - msrv
      - test
      - style
      - clippy
    steps:
      - run: exit 0

  clippy:
    name: Clippy check
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install rust
        uses: dtolnay/rust-toolchain@stable

      - name: Run clippy
        run: RUSTFLAGS="-Dwarnings" cargo clippy --all-targets --all-features

  style:
    name: Check style
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install rust
        uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt

      - name: Check cargo fmt
        run: cargo fmt -- --check

  msrv:
    name: MSRV
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Get MSRV package metadata
        id: metadata
        run: cargo metadata --no-deps --format-version 1 | jq -r '"msrv=" + .packages[0].rust_version' >> $GITHUB_OUTPUT

      - name: Install rust (${{ steps.metadata.outputs.msrv }})
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ steps.metadata.outputs.msrv }}

      - uses: Swatinem/rust-cache@v2

      - name: Check
        run: cargo check

  test:
    name: 'Tests: ${{ matrix.name }}'

    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: ['ubuntu-latest', 'windows-latest']
        include:
          - name: linux / stable
            os: ubuntu-latest
          - name: windows / stable
            os: windows-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Install rust
      uses: actions-rs/toolchain@v1
      with:
        toolchain: 'stable'
        profile: minimal
        override: true
        components: llvm-tools
    - name: Install cargo-llvm-cov
      uses: actions-rs/cargo@v1
      with:
        command: install
        args: cargo-llvm-cov
    - name: Build
      uses: actions-rs/cargo@v1
      with:
        command: build
        args: --verbose --all-features
    - name: Run tests
      uses: actions-rs/cargo@v1
      with:
        command: test
        args: --verbose --all-features --no-fail-fast
    - name: Code Coverage
      uses: actions-rs/cargo@v1
      with:
        command: llvm-cov
        args: --verbose --all-features --codecov --output-path ./codecov.json
    - name: Publish Code Coverage
      uses: codecov/codecov-action@v5
      with:
        files: ./codecov.json
        fail_ci_if_error: true
        use_oidc: true
